*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
Berksfile.lock
Cheffile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.kitchen
.librarian
