---
"on":
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-secret-availability:
    runs-on: ubuntu-latest
    steps:
      - name: TEST Secret PRIVATE_ACCESS_KITCHEN_CHEF_ENTERPRISE
        run: |
          echo "Testing ORG Secret PRIVATE_ACCESS_KITCHEN_CHEF_ENTERPRISE:"
          secret_value="${{ secrets.PRIVATE_ACCESS_KITCHEN_CHEF_ENTERPRISE }}"
          if [ -n "$secret_value" ]; then
            echo "Secret PRIVATE_ACCESS_KITCHEN_CHEF_ENTERPRISE is set."
          else
            echo "Secret PRIVATE_ACCESS_KITCHEN_CHEF_ENTERPRISE is NOT set."
          fi
          if [ -n "${PRIVATE_ACCESS_KITCHEN_CHEF_ENTERPRISE:-}" ]; then
            echo "ENV VAR: PRIVATE_ACCESS_KITCHEN_CHEF_ENTERPRISE Exists"
            bundle config --local github.com "x-access-token:${{ secrets.PRIVATE_ACCESS_KITCHEN_CHEF_ENTERPRISE }}"
          else
            echo "ENV VAR: PRIVATE_ACCESS_KITCHEN_CHEF_ENTERPRISE Does Not Exist"
          fi
  # lint:
  #   uses: ./.github/workflows/lint.yml
  #   secrets: inherit

  # integration:
  #   uses: ./.github/workflows/integration.yml
  #   needs: lint
  #   secrets: inherit
