---
name: "Lint, Unit & Integration Tests"

"on":
  pull_request:
  push:
    branches:
      - main

concurrency:
  group: lint-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint-unit:
    uses: test-kitchen/.github/.github/workflows/lint-unit.yml@main

  integration:
    runs-on: ubuntu-latest
    needs: lint-unit
    name: Kitchen Verify
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - 3.4
    steps:
      - uses: actions/checkout@v6
      - name: Configure Git for private repo access
        run: |
          git config --global url."https://x-access-token:${{ secrets.GH_PRIVATE_REPO_TOKEN }}@github.com/".insteadOf "https://github.com/"
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - name: Setup Machine
        run: |
          bundle add inspec-core --version ">= 5.22, < 6.6"
      - name: Create & Validate containers
        run: |
          bundle exec bundle exec kitchen create hello
          bundle exec bundle exec kitchen test helloagain
          bundle exec bundle exec kitchen destroy hello
        env:
          # This needs to be set for all phases, including the verify phase
          CHEF_LICENSE: "accept"
